<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>LInk Primario</td>
            <td>Link Secundario</td>
        </tr>
        {% for contato in links %}
            <tr>
                <td>{{contato[0]}}</td>
                <td><a href="{{contato[0]}}">http://localhost/{{contato[1]}}</td>
            </tr>
        {% endfor %}

    </table>
</body>
</html>